// CloudCannon Editor Links (https://docs.cloudcannon.com/editing/editor-links/)

.editor-link {
	display: none;
	margin-top: 0;

	.btn {
		background-color: #f7e064;
		color: #333;
		box-shadow: $shadow-box;

		&:hover {
			background-color: #f4d525;
			color: #333;
		}
	}
}

.cms-editor-active .editor-link {
	display: block;
}
