html {
	font-size: $font-size-base;
	-webkit-tap-highlight-color: transparent;

	@media (min-width: $mobile-break) {
		font-size: $font-size-base-desktop;
	}
}

body {
	line-height: 1.75;
	font-size: 2em;
}

body,
input,
textarea {
	font-family: $font-body;
	color: $color-text;
	text-rendering: geometricPrecision;
}

label,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
	font-weight: 400;
	text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	letter-spacing: 0.18em;
	line-height: 1.5;

	&:not(:first-child) {
		margin-top: 1em;
	}
}

// h1 is hidden by default (font-size: 0) and shown only on hero pages
// via .main-hero h1 { font-size: 8rem } in layout.scss
// On non-hero pages, .minor-heading displays the title instead
h1 {
	font-size: 0px;
	line-height: 80px;
	margin: 0 -10px 0 0;
	color: $color-white;

	@media (min-width: $mobile-break) {
		float: right;
		line-height: 100px;
		font-size: 0px;
	}
}

h2 {
	font-size: 3.6rem;
}

h3 {
	font-size: 2.7rem;
}

h4 {
	font-size: 2.3rem;
}

h5 {
	font-size: 2rem;
}

h6 {
	font-size: 2rem;
}

a {
	color: $color-primary;
	transition: color $transition-fast;
	text-decoration: none;

	&:hover {
		color: $color-accent;
		transition: $transition-medium;
	}

	&:focus {
		outline: 2px solid $color-primary;
		outline-offset: 2px;
	}
}

// .sub-heading is hidden by default and shown on hero pages
// via .main-hero .sub-heading { font-size: 3rem } in layout.scss
// On non-hero pages, .minor-sub-heading displays the tagline instead
.sub-heading {
	color: $color-white;
	font-size: 0rem;
}

.minor-heading {
	font-size: 3rem;
	color: $color-white;
}

.minor-sub-heading {
	font-size: 2rem;
	color: $color-white;
}
