{{ define "main" }}
  <div>{{ .Content }}</div>

  <hr class="hrule">
    
    {{ if .Site.Data.authors }}
		<h3>Meet the members of our team</h3>
    
	  <ul class="staff-list">
      {{ range .Site.Data.authors }}
      {{ if .is_staff_member }}
      <li class="staff">
        <div class="staff-details">
          <div class="staff-image">
            <img src="{{ .image }}" alt="Staff photo for {{ .name }}" width="200" height="200">
          </div>
          <ul class="staff-info">
            <li>{{ .name }}</li>
            <li><small>{{ .credentials }}</small></li>
            <li><a href="tel:{{ $.Site.Data.company.phone }}">{{ $.Site.Data.company.phone }}</a></li>
          </ul>
        </div>
        
        <div class="staff-bio">
          <p>{{ .description }}</p>
          <p><a href="{{ .link }}">Learn more</a></p>
        </div>
      </li>
      {{ end }}
			{{ end }}
		</ul>
    {{ end }}
	</article>

    {{ end }}
    
    